{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Cakes</h2>
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold text-center info">
                        Have a Party ? We make Cake ! Our stackable cookie cakes with layer of fillings in between each cookie!
                        For more information about our cakes get in contact to discuss flavors and prices.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 py-4 image-container">
                        <img src="{{MEDIA_URL}}cake.jpg" class="img-fluid product-images" alt="Cake">
                    </div>
                    <div class="col-md-6 py-4 image-container">
                        <img src="{{MEDIA_URL}}cake-2.jpg" class="img-fluid product-images" alt="Cake">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}