{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container hero">
        <div class="row h-100">
            <div class="col-md-6 my-auto">
                <h1 class="logo-font text-black text-center heading">The Irish Cookie Store</h1>
                <p class="text-black font-weight-bold text-center info">Located in County Waterford, The Irish Cookie Store make beautiful artisan cookies.<br>
                <em>"Thick, Googey, Stuffed 175g+ American Styled Cookies"</em> to be precise. </p>
                <h4 class="text-center"><a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View our store</a></h4>
            </div>
            <div class="col-md-6 my-auto">
                <img src="{{MEDIA_URL}}image.jpg" class="img-fluid py-3" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}