<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-5 d-block d-sm-none" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}">Cookies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'cakes' %}">Cakes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}">About</a>
        </li>
    </ul>
</div>