{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">About</h2>
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold text-center info">
                        We started The Irish Cookie Store in November 2020 and are based in Waterford City! We make American
                        style cookies that weigh a minimum of 175g with creative flavors ad mix-ins. Our flavors can be mixed
                        and matched! Our cookies are different to most other cookies on the Irish market as they are not flat,
                        they are thick stuffed cookies! Our cookies are the perfect treat or gift to send a loved one! Follow us
                        on Instagram and Facebook for more updates!
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 py-4 image-container">
                        <img src="{{MEDIA_URL}}logo.jpg" class="img-fluid product-images" alt="Company Logo">
                    </div>
                    <div class="col-md-6 py-4 image-container">
                        <img src="{{MEDIA_URL}}cookie-selection.jpg" class="img-fluid product-images" alt="Box of cookies">
                    </div>
                </div>
            </div>        
        </div>
    </div>
{% endblock %}